* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  position: absolute;
}
.logo img {
  width: 100%;
  margin-left: 50px;
}

ul {
  display: flex;
  list-style-type: none;
  margin-left: 300px;
}

li {
  margin-left: 20px;
  font-size: 30px;
}
li.home {
  color: black;
  padding-bottom: 5px;
  border-bottom: 4px solid #9e99ff;
}
li {
  color: #9893a3;
}
.buttons {
  margin-left: 300px;
  font-size: 20px;
}
.btn_login {
  width: 70px;
  height: 50px;
  background-color: #f2f2f2;
  padding: 7px;
  color: #6c63ff;
  border-color: #6c63ff;
  border-width: 1px;
  margin-top: 10px;
  font-size: medium;
}
.btn-getstarted {
  width: 100px;
  height: 50px;
  padding: 7px;
  color: #ffff;
  border-color: #6c63ff;
  background-color: #6c63ff;
  margin-top: 10px;
  font-size: medium;
}
#section1 {
  width: 100%;
  position: absolute;
  margin-top: 150px;
}
.row {
  display: flex;

  margin-left: 350px;
}
.container p,
button {
  margin-top: 40px;
}
.text {
  font-size: 80px;
  color: #2f2e41;
}
p {
  width: 500px;
  margin-top: 15px;
  color: #9893a3;
  font-size: 20px;
  font-weight: 15px;
}
button {
  width: 100px;
  height: 60px;
  margin-top: 20px;
  background-color: #6c63ff;
  border: 20px;
  color: #ffffff;
  font-size: medium;
}
.hero-image img {
  margin-left: 100px;
  border-bottom: 3px solid #cfcfde;
  position: absolute;
}
#section2 {
  position: absolute;
  margin-top: 800px;
  border: 0;
  margin-left: 400px;
}
.logos {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-left: 350px;
}
.logos img {
  margin: 50px;
  margin-top: 15px;
  width: 100px;
}
.image {
  width: 300px;
}
#section3 {
  width: 100%;
}
.sec3 {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 900px;
  margin-left: 350px;
  padding: 120px 0;
}
.container2 {
  margin-top: 80px;
  margin-left: 100px;
  padding-left: 100px;
  width: 500px;
}
.text2 {
  width: 600px;
  height: 150px;
  font-size: 70px;
  color: #2f2e41;
}
.long-text {
  width: 400px;
  height: 100px;
  color: #9893a3;
}

.learn-more {
  font-size: 25px;
  width: 120px;
  height: 30px;
  color: #2f2e41;
  background: rgb(197, 194, 255, 0.5);
  background: linear-gradient(
    180deg,
    rgba(197, 194, 255, 0) 0%,
    rgba(197, 194, 255, 0) 50%,
    rgb(180, 210, 255) 50%,
    rgb(220, 197, 252) 100%
  );
}
#section4 {
  width: 100%;
}
.sec4 {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 1500px;
  margin-left: 350px;
  padding: 120px 0;
}
.container3 {
  margin-top: 100px;
}
.section-image2 {
  width: 100%;
  margin-left: 40px;
}
#section5 {
  width: 100%;
}
.sec5 {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 2200px;
  margin-left: 350px;
  padding: 120px 0;
}
.section-image3 {
  width: 100%;
  margin-left: 150 px;
}
.container4 {
  margin-top: 80px;
  margin-left: 100px;
  padding-left: 100px;
  width: 500px;
}
#choice {
  width: 100%;
}

.choice {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 2800px;
  margin-left: 350px;
  padding: 120px 0;
}
.plan {
  margin-top: 100px;
  margin-left: 350px;
  font-size: 40px;
}
#section6 {
  width: 100%;
}
.sec6 {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 3100px;
  margin-left: 350px;
  padding: 120px 0;
  gap: 30px;
}
.free {
  width: 400px;
  height: 450px;
  background-color: rgba(236, 235, 255, 0.3);
  margin-top: 50px;
}
.free ol {
  justify-content: space-evenly;
  margin-top: 30px;
  text-align: center;
  list-style-type: none;
}
.gs1 {
  background-color: rgba(236, 235, 255, 0.3);
  border-radius: 15px;
  border-color: #6c63ff;
}
.free button {
  width: 100px;
  height: 8px;
  color: #6c63ff;
}

.for-free {
  color: black;
}
.premium {
  width: 400px;
  height: 450px;
  margin-top: 10px;
  background-color: #6c63ff;
}
.list2 li {
  color: #ffffff;
}
.premium ol {
  justify-content: space-evenly;
  margin-top: 30px;
  text-align: center;
  list-style-type: none;
}
.enterprise {
  margin-top: 50px;
  background-color: #ecebff;
  width: 400px;
  height: 450px;
}
.enterprise ol {
  justify-content: space-evenly;
  margin-top: 30px;
  text-align: center;
  list-style-type: none;
}
.gs3 {
  background-color: rgba(236, 235, 255, 0.3);
  border-radius: 15px;
  border-color: #6c63ff;
}
.enterprise button {
  color: #6c63ff;
}
